body {
  background-color: rgba(58, 96, 103, 0.09);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h4, h5 {
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 1.5em;
  color: #464545;
}

main {
  flex: 1 0 auto;
}

input {
  margin-top: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.page-footer {
  background-color: #079AB3 !important;
}

.landingpage p {
  font-size: 1.5em;
}

.landing-typed {
  font-size: 5em;
  color: #006777;
}

.landing-title {
  color: #006777;
}

.brand-logo {
  margin-left: -5px !important;
}

.clearfix {
  overflow: auto; }

#tags .tag {
  float: left;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}

button {
  background-color: #079AB3 !important;
}

button.tweet-button {
  margin-top: 15px;
}

.btn-follow, .btn-following {
  margin-right: 10px;
}

.btn-following.disabled {
  background-color: #2DDE59 !important;
  color: white !important;
}

.followers, .tweets, .friends {
  margin-left: 15px;
}

input.checkbox {
  position: initial !important;
  left: 0px !important;
  visibility: visible !important;
}

.user-img {
  margin-left: 16px;
  margin-top: 10px;
}

.sky-blue {
  background-color: #079AB3;
}

.card-panel {
  padding: 0 !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.user-tweet {
  font-size: 1.4em;
  font-style: italic;
}

.description {
  color: #4c4c4c;
  letter-spacing: 0.05em;
}

nav {
  background-color: #079AB3;
}

#nav-username {
  cursor: default !important;
  margin-right: 20px;
}

#nav-username:hover {
  background-color: #079AB3 !important;
}

#nav-username:after {
  background-color: #079AB3 !important;
}

.material-icons {
  color: #079AB3;
}

textarea {
  border: 1px solid rgba(164, 164, 164, 0.38);
  background-color: white;
  border-radius: 5px;
  height: 150px;
  width: 80%;
}

.brand-logo {
  margin-left: 20px; }

.clearfix {
  overflow: auto; }

#tags .tag {
  float: left;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px; }

/* label color */
.input-field label {
  color: #000; }

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000; }

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000; }

.typed-cursor{
  color: #006777;
  font-size: 5.3em;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
